.container{
	width: 320px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);

}
h3{
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	background: #2980b9;
	color: white;
	font-weight: normal;
}
input{
	color: #2980b9;
	background: #f7f7f7;
	font-size: 15px;
	height: 30px;
	width: 100%;
	padding: 10px 10px 10px 20px;
	box-sizing: border-box;
	border: none;
}
.fa-plus{
	float: right;
}
span{
	text-align: center;
	background: #e74c3c;
	height: 30px;
	width: 0px;
	margin-right: 5px;
	color: white;
	display: inline-block; 
	transition: 0.2s linear;
	opacity: 0;
}
li:hover span{
	width: 30px;
	opacity: 1.0;
}

body{
background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	background: #fff;
	height: 30px;
	line-height: 30px;
}

li:nth-child(2n){
	background: #f7f7f7;
	height: 30px;
}

.completed {
	color: rgb(0,0,0);
	text-decoration: line-through;
}